@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>First select the <a href="/Discounts/Index">promotions</a> that you want to test</p>
    <p>Then look at the <a href="/Products/Index">products list</a>.  Tip you can get more of an detail of the product by click on the name of the product.</p>
    <p>Then you can check out the <a href="/Cart/Index">cart</a> and what you have selected.</p>

</div>
